*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: #eee;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

/* NavBar */
.nav-bar {
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 1.2rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 300;
  -webkit-box-shadow: 0px 7px 30px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 30px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 30px -4px rgba(0,0,0,0.75);
}

/* Search Bar */
.search-bar {
  text-align: center;
}

.search-input {
  width: 60%;
  padding: .5rem;
  font-size: 1.6rem;
}

.search-button {
  font-size: 1.6rem;
  padding: .5rem;
  cursor: pointer;
}

/* Search Results */
.search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  min-height: 67vh;
  margin-bottom: 4rem;
}

.card {
  background-color: #fff;
  border-radius: 5px;

  -webkit-box-shadow: 10px 7px 47px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 7px 47px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 7px 47px -10px rgba(0,0,0,0.75);

  display: grid;
  grid-template-columns: 1fr;

  cursor: pointer;

  /* overflow: hidden; */
}

.card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 250px;
  min-height: 250px;
  width: 100%;
  object-fit: cover;
  display: block;
  
}

.recipe-data {
  position: relative;
  padding: 2rem;
}

.recipe-title {
  font-weight: 700;
}

.social-score-container {
  position: absolute;
  right: 3%;
  top: 66%;
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 5px;

  -webkit-box-shadow: 10px 7px 47px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 7px 47px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 7px 47px -10px rgba(0,0,0,0.75);
}

.publisher {
  font-size: 1.2rem;
}

.recipe-social-text {
  font-size: 1rem;
}

.recipe-social-score {
  font-size: 1.6rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* Footer */
.footer {
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 5rem;
}

/* Helper Classes */
.u-center-text {
  text-align: center !important; 
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; 
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; 
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important; 
}

.u-margin-top-big {
  margin-top: 8rem !important; 
}

.u-margin-top-huge {
  margin-top: 10rem !important; 
}